<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- BEGIN DEVELOPMENT SETTINGS -->
    <add key="DEV_DS_AccountId" value="10008617" />
    <add key="DEV_DS_ClientID" value="e0f4f5aa-2f5e-477a-8da9-db8fcdb38935" />
    <add key="DEV_DS_UserGUID" value="70b66a1b-14fe-4e0b-ab63-3b48cff8b369" />
    <add key="DEV_DS_AuthServer" value="account-d.docusign.com" />
    <add key="DEV_DS_RSAKeyFile" value="docusign_epiqpoc.pem" />

    <!-- BEGIN PRODUCTION SETTINGS -->
    <add key="PROD_DS_AccountId" value="12173136" />
    <add key="PROD_DS_ClientID" value="54709b97-5e45-46f7-b090-6f349f6036c3" />
    <add key="PROD_DS_UserGUID" value="2649f718-07fe-4267-9a32-2dcf4fc870e4" />
    <add key="PROD_DS_AuthServer" value="account.docusign.com" />
    <add key="PROD_DS_RSAKeyFile" value="DocuSign-PRODKey-NCAA.pem" />
    <!-- END PRODUCTION SETTINGS -->
  </appSettings>
</configuration>